.container {
    background-color: #fdf5f2;
    color: #000000;
}

/* 标题 start */
.section_title {
    margin-top: 40px;
    text-align: center;

    span:first-child {
        font-size: 70px;
        margin-right: 15px;
    }

    span:last-child {
        font-size: 30px;
    }
}

/* 标题 end */

/* get more start */
.get_more {
    width: 218px;
    img, > a {
        display: block;
        width: inherit;
    }
}

/* get more end */

/* Page1 start */
.page1_wrapper {
    background: #000 url('../../assets/home/page1_bg.jpg') no-repeat center;
    background-size: 100% 100%;
    color: #ffffff;
}

.header {
    height: 150px;
    overflow: hidden;
}

.logo {
    margin-left: 50px;
    font-size: 45px;
    font-weight: 400;
    line-height: 150px;
}

.nav {
    margin-top: 70px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 200;

    > li {
        float: left;
        margin-right: 70px;
    }
}

.home_introduce {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    > h1 {
        font-size: 60px;
        font-weight: 600;
        margin: 0 0 10px;
    }

    > p {
        font-size: 25px;
    }
}

/* Page1 end */

/* Page2 start */
.page2_wrapper {
    .left_side {
        float: left;
        width: 50%;
        margin-top: 20px;
    }

    .right_side {
        float: right;
        width: 50%;
        margin-top: 190px;
        text-align: center;

        .name {
            display: block;
            margin: 0 auto 50px;
        }

        .desc {
            font-size: 30px;

            > span:not(:last-child)::after {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 0 5px;
                background-color: #000000;
                vertical-align: middle;
                content: '';
            }
        }
    }

    .get_more {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -70px;
        margin: 0 auto;
    }
}

/* Page2 end */

/* Page3 start */
.page3_wrapper {
    .profile_wrapper {
        position: relative;
        margin-top: 60px;
        > ul {
            display: flex;
            > li {
                flex: 1;
                width: 508px;
                height: 359px;
                img, > a {
                    display: block;
                    width: inherit;
                    margin: 0 auto;
                }
            }
        }
        .get_more {
            position: absolute;
            right: 0;
            bottom: -150px;
        }
    }
}

/* Page3 end */

/* Page4 start */
.page4_wrapper {
    background: #000 url('../../assets/home/page4_bg.png') no-repeat center;
    color: #ffffff;

    .contract_info {
        margin: 160px 0 220px;

        > li {
            float: left;
            font-size: 30px;

            &:nth-child(odd) {
                width: 65%;
                padding-left: 70px;
            }

            &:nth-child(even) {
                width: 35%;
            }

            &:not(:last-child):not(:nth-last-child(2)) {
                margin-bottom: 45px;
            }

            > span {
                display: inline-block;
                vertical-align: middle;
            }

            > span:first-child {
                margin-right: 20px;
                font-size: 45px;
            }
        }
    }

    .epilogue {
        font-size: 30px;
        text-align: center;
    }
}

/* Page4 end */
