/* 标题 start */
.section_title {
    margin: 40px 0;
    text-align: center;

    span:first-child {
        font-size: 70px;
        margin-right: 15px;
    }

    span:last-child {
        font-size: 30px;
    }
}

/* 标题 end */

.page_wrapper {
    min-width: 1200px;
    min-height: 100%;
    background-color: #fdf5f2;
    overflow: hidden;
}

.profile_wrapper {
    display: flex;
    flex-wrap: wrap;
    > li {
        width: 50%;
        height: 359px;
        margin-bottom: 50px;
        img, > a {
            display: block;
            width: 508px;
            margin: 0 auto;
        }
    }
}
